.navbar {
  transition: background-color 0.3s ease;
}

.navbar.navbar-dark.bg-dark {
  background-color: #343a40; /* Change this color to match your desired background color */
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-nav .nav-link {
  color: #ffffff; /* Change this color to match your desired text color */
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa; /* Change this color to match your desired hover color */
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 15px solid #c1101a;
}

.navbar-brand {
  width: 200px;
}

li {
  display: inline-block;
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 100%;
  font-size: larger;
}

/* Estilo para la imagen del logo */
.logo-icon {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Hace que los bordes de la imagen sean redondeados */
  border: 2px solid #007bff; /* Cambia el color del borde según tus preferencias */
}

/* Agrega tu archivo CSS actual y luego añade el siguiente código */

/* Animación para el navbar */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Aplicar la animación al navbar */
.navbar {
  animation: slideIn 0.5s ease-in-out; /* Ajusta la duración y el tipo de easing según tus preferencias */
}
